<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">
	
	<resultMap type="Member" id="memberMap">
		<id property="id" column="MEMBER_ID"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="addr" column="MEMBER_ADDR"/>
	</resultMap>


	<insert id="registerMember" parameterType="Member" >
		INSERT INTO
		TB_MEMBER(MEMBER_ID, MEMBER_PWD, MEMBER_NAME, MEMBER_ADDR)
		VALUES(#{id}, #{pwd}, #{name}, #{addr})
	</insert>

	<select id="showAllMember" resultMap="memberMap">
		SELECT *
		FROM TB_MEMBER
	</select>
	
	<select id="findMember" parameterType="String" resultMap="memberMap">
	
		SELECT *
		FROM TB_MEMBER
		<where>
		<if test='keyword!= ""'>
			
				MEMBER_ID LIKE '%'||#{keyword}||'%'
				OR MEMBER_NAME LIKE '%'||#{keyword}||'%'
				OR MEMBER_ADDR LIKE '%'||#{keyword}||'%'
		</if>
		</where>
		
	</select>
	
	<select id="login" parameterType="Member" resultMap="memberMap">
		SELECT * 
		FROM TB_MEMBER
		WHERE MEMBER_ID = #{id} AND MEMBER_PWD = #{pwd}
	</select>
	
	<update id="updateMember" parameterType="Member" >
		UPDATE
		TB_MEMBER
		SET MEMBER_PWD = #{pwd}, MEMBER_NAME = #{name}, MEMBER_ADDR = #{addr}
		WHERE MEMBER_ID = #{id} AND MEMBER_PWD = #{pwd}
	</update>
	
	


</mapper>