<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- 
			package로 따오게 되면 클래스가 추가 될때마다 인식하며 
			별칭(alias)는 클래스의 이름을 따라간다.
		 -->
		<package name="com.kh.mvc.model.vo"/>
	</typeAliases>


	<!-- 단위 테스트를 위해서 추가 -->

	<environments default="develope">

		<environment id="develope">

			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED" >
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="SPRING" />
				<property name="password" value="SPRING" />
			</dataSource>

			

		</environment>

	</environments>

	<mappers>
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
	</mappers>

</configuration>